<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Welcome {{username}}!<h1>
      <div class="tenor-gif-embed" data-postid="22391159" data-share-method="host" data-aspect-ratio="2.80702" data-width="100%"><a href="https://tenor.com/view/banner-welcome-gif-22391159">Banner Welcome GIF</a>from <a href="https://tenor.com/search/banner+welcome-gifs">Banner Welcome GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <br>
    <p>This is all that we actually do. Thanks for your money; the free trial ended months ago!</p>
  <script src="main.py"></script>
  </body>
</html>    